.input_control {
    display: flex;
    flex-direction: column;margin-bottom: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

.input_control label {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-size: 14px;
}

.input_control input {
    padding: 0.7em;
    border-radius: 7px;
    border: none;
    width: 30vw;
    max-width: 300px;
    min-width: 215px;
}

.input_control input::placeholder {
    color: rgb(112, 112, 112);
    font-size: 12px;
    position: absolute;
    top: 3px;
    left: 4px;
    opacity: 0.5;
}