* {
  margin: auto;
  justify-content: center;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
html, body {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main {
  border-radius: 7px;
  padding: 5vw 3vw ;
  -webkit-box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.75);
  /* overflow-y: auto; */
}
.title-simulate-anticipation {
  font-size: 3em;
  margin: 3vw;
  text-decoration: underline ;
}
.block-installments {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.p-max_installments{
  margin: 0;
  margin-left: 1vw;
  margin-top: -5%;
  width: fit-content;  
  font-size: 8px;
  font-style: italic;
  letter-spacing: 0.7px; 
  position: relative;
}
.block-return_receive {
  display: flex;
  flex-wrap: wrap;
  color: var(--orange-500);
}
.line {
  width: 100%;
  border: 0.7px solid;
  border-image-slice: 1;
}
.p-receive{
  width: fit-content;
  margin: 7px;
  
}
@media only screen and (min-width: 834px){  
  main {
    width: 75vw;
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
  }
  .title-simulate-anticipation {
    font-size: 3.5em;
    margin: 1vw;
    margin-bottom: 1em;
  }
  .block-return_receive {
    flex-direction: column;
    font-size: 1.7em;
    font-style: italic;
    align-items: center;
  }
  .p-receive-today{
    width: 30vw;
  }
  .line {
    border-image-source: linear-gradient(to right, transparent, var(--orange-500));
  }
}

@media only screen and (max-width: 834px){  
  main {
    flex-direction: column;
    width: 270px;
  }
  .block-return_receive {
    font-size: 1.3em;
  }
  .p-receive-today{
    width: 100%;
  }
  .line {
  border-image-source: linear-gradient(to bottom, transparent, transparent, var(--orange-500));
  }
}